<h1><%= "#{@team.name}" %></h1><br>
<h2>Team Motto: <%= "#{@team.motto}" %></h2><br>
<h3>Hero Name: <%= "#{@hero1.name}" %></h3><br>
Hero Power: <%= "#{@hero1.power}" %><br>
Hero Biography: <%= "#{@hero1.bio}" %><br>

<h3>Hero Name: <%= "#{@hero2.name}" %></h3><br>
Hero Power: <%= "#{@hero2.power}" %><br>
Hero Biography: <%= "#{@hero2.bio}" %><br>

<h3>Hero Name: <%= "#{@hero3.name}" %></h3>
Hero Power: <%= "#{@hero3.power}" %><br>
Hero Biography: <%= "#{@hero3.bio}" %><br>