<h1>Team Name: <%= @team.name %> </h1><p>
<h1>Team Motto: <%= @team.motto %> </h1><p>

<% @heroes.each do |hero| %>
  <h2>Hero Name: <%= hero.name %></h2>
  <p>
    Hero Power: <%= hero.power %>
    <br>
    Hero Biography: <%= hero.bio %>
  </p>
<% end %>